.character_set {
  margin: 1em;
}

.character_box {
  margin: 0.5em;
  padding: 0.5em;
}

.active_character {
  border: 1px solid gray;
}

.target_div {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid black;
  margin-right: 0.5em;
  cursor: hand;
}

.target_character {
	background-color: black;
}

#log {
  height: 200px;
  overflow: scroll;
}
